<div class="container">
    <div class="boxes">
      <div class="box big-box">
        <p>x = Probabilidad</p>
      </div>
      <div class="box small-box">
        <p>Empleado 1:   </p>
        <div class="input-container">
            <input id="x1" [(ngModel)]="x1" type="text" placeholder="">
        </div>
      </div>
      <div class="box small-box">
        <p>Empleado 2:   </p>
        <div class="input-container">
            <input id="x2" [(ngModel)]="x2" type="text" placeholder="">
        </div>
      </div>
      <div class="box small-box">
        <p>Empleado 3:   </p>
        <div class="input-container">
            <input id="x3" [(ngModel)]="x3" type="text" placeholder="">
        </div>
      </div>
      <div class="box big-box">
        <p>y = Impacto</p>
      </div>
      <div class="box small-box">
        <p>Impacto 1:   </p>
        <div class="input-container">
            <input id="y1" [(ngModel)]="y1" type="text" placeholder="">
        </div>
      </div>
      <div class="box small-box">
        <p>Impacto 2:   </p>
        <div class="input-container">
            <input id="y2" [(ngModel)]="y2" type="text" placeholder="">
        </div>
      </div>
      <div class="box small-box">
        <p>Impacto 3:   </p>
        <div class="input-container">
            <input id="y3" [(ngModel)]="y3" type="text" placeholder="">
        </div>
      </div>
      <button>Plotear</button>
    </div>
</div>